body {
  height: 100vh;
}
div {
  text-align: center;
}
.header {
  color: #f7743c;
}
.oops {
  display: inline;
}

.btn-primary {
  margin: 1.5em;
  background-color: #f7743c;
  border: none;
  color: white;
  font-weight: bold;
  width: fit-content;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}
.btn-primary:hover,
.btn-primary:focus {
  /* background-blend-mode: darken;*/
  background: linear-gradient(
    to right,
    rgba(231, 73, 11, 0.62),
    rgba(41, 92, 202, 0.62)
  );
  color: white;
  transform: translateY(-0.25em);
  box-shadow: 0 0.5em 0.5em -0.4em #9a7f92;
}
