<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Item - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="product-detail.component.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <section class="py-5">
      <div class="container px-4 px-lg-5 my-5" id="description">
        <div
          class="row gx-4 gx-lg-5 align-items-center"
          style="text-align: left"
        >
          <div class="col-md-6">
            <img
              class="card-img-top mb-5 mb-md-0"
              src="{{ product.product_thumbnail }}"
              alt="..."
            />
          </div>
          <div class="col-md-6">
            <div class="small mb-1" id="ShopName" style="font-weight: bold">
              Sold by
              <a routerLink="../../seller-profile/{{ product.seller_id }}">{{
                shopName
              }}</a>
            </div>

            <h1 class="display-5 fw-bolder" style="font-size: 150%">
              {{ product.product_name }}
            </h1>
            <div class="fs-5 mb-5">
              <h5 class="text-decoration-line-through font-weight-bold">
                {{ product.price | currency: "SAR" }}
              </h5>

              <ngb-rating [rate]="averageRating" [max]="1" [readonly]="true">
                <ng-template let-fill="fill">
                  <span
                    [class.painted]="fill === 100"
                    [class.notpainted]="fill === 0"
                  >
                    <span class="fa fa-star"></span>
                  </span>
                </ng-template>
              </ngb-rating>
              <span class="text-muted">{{ averageRating }}.0</span>
            </div>
            <p class="lead">
              {{ product.product_description }}
            </p>
            <div class="my-3">
              <span
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-geo-alt-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"
                  />
                </svg>
                {{ product.city }} {{ product.neighborhood }}</span
              >
            </div>
            <div class="d-flex">
              <!-- <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                             
                            </button> -->
              <button
                *ngIf="product.product_quantity >= 1"
                type="button"
                class="btn btn-primary btn-lg"
                style="width: 50%; height: 50%; margin-left: 10px"
                (click)="addToCart(product)"
              >
                Add to card
              </button>
            </div>
            <br />
            <p class="available" *ngIf="product.product_quantity > 5">
              Available in stock
            </p>
            <p
              class="available text-danger"
              *ngIf="
                product.product_quantity < 5 && product.product_quantity >= 1
              "
            >
              Only {{ product.product_quantity }} available in stock
            </p>
            <p
              class="available text-danger"
              *ngIf="product.product_quantity < 1"
            >
              Out of stock
            </p>
            <br />
            <div
              class="btn btn-primary text-uppercase"
              *ngIf="auth"
              routerLink="edit"
            >
              Edit Product
            </div>
            <div class="row mt-5">
              <div class="col-md-12">
                <iframe
                  width="400"
                  height="200"
                  frameborder="0"
                  scrolling="no"
                  marginheight="0"
                  marginwidth="0"
                  [src]="url | safe"
                >
                </iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Review -->
    <section class="overflow-hidden">
      <div class="container-fluid px-1 py-5 mx-auto">
        <div class="row justify-content-center">
          <div class="col-xl-7 col-lg-8 col-md-10 col-12 text-center mb-5">
            <div *ngIf="!isLoggedIn" style="text-align: center">
              You need to be logged in to post reviews!
            </div>
            <div class="card blurred" *ngIf="!isLoggedIn">
              <div class="text-center">
                <div class="d-flex flex-column">
                  <h3 class="mt-2 mb-0 text-center">Post a review</h3>
                  <div>
                    <ngb-rating
                      [rate]="currentRate"
                      [max]="5"
                      (rateChange)="onRateClick($event)"
                    >
                      <ng-template let-fill="fill">
                        <span
                          [class.painted]="fill === 100"
                          [class.notpainted]="fill === 0"
                        >
                          <span class="fa fa-star"></span>
                        </span>
                      </ng-template>
                    </ngb-rating>
                  </div>
                </div>
              </div>
            </div>
            <div class="card" *ngIf="isLoggedIn">
              <div class="text-center">
                <div class="d-flex flex-column">
                  <h3 class="mt-2 mb-0 text-center">Post a review</h3>
                  <div>
                    <ngb-rating
                      [rate]="currentRate"
                      [max]="5"
                      (rateChange)="onRateClick($event)"
                    >
                      <ng-template let-fill="fill">
                        <span
                          [class.painted]="fill === 100"
                          [class.notpainted]="fill === 0"
                        >
                          <span class="fa fa-star"></span>
                        </span>
                      </ng-template>
                    </ngb-rating>
                  </div>
                </div>
              </div>

              <input
                type="text"
                id="review"
                placeholder="Write a review"
                width="100%"
                [(ngModel)]="reviewPost.description"
              />
              <div class="m-auto">
                <button
                  type="button"
                  class="btn btn-primary btn-lg mt-3"
                  (click)="postReview()"
                >
                  Post review
                </button>
              </div>
              <div class="bg-danger text-white text-center" *ngIf="errorMsg">
                {{ errorMsg }}
              </div>
            </div>
            <div class="card" *ngFor="let review of reviewList">
              <div class="row d-flex">
                <div class="d-flex flex-column">
                  <h3 class="mt-2 mb-0">{{ review.cus_first_name }}</h3>
                  <div>
                    <p class="text-left">
                      <span class="text-muted">{{ review.rating }}.0</span>
                      <ngb-rating
                        [rate]="review.rating"
                        [max]="5"
                        [readonly]="true"
                      >
                        <ng-template let-fill="fill">
                          <span
                            [class.painted]="fill === 100"
                            [class.notpainted]="fill === 0"
                          >
                            <span class="fa fa-star"></span>
                          </span>
                        </ng-template>
                      </ngb-rating>
                    </p>
                  </div>
                </div>
                <div class="ml-auto">
                  <p class="text-muted pt-5 pt-sm-3">{{ review.created_at }}</p>
                </div>
              </div>
              <div class="row text-left">
                <h4 class="blue-text mt-3">"{{ review.description }}"</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="js/scripts.js"></script>
  </body>
</html>
