.btn-primary {
  background-color: orange;
  border-color: blue;
  color: white;
  font-weight: bold;
  width: 500px;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}
.btn-primary:hover,
.btn-primary:focus {
  /* background-blend-mode: darken;*/
  background: linear-gradient(
    to right,
    rgba(231, 73, 11, 0.62),
    rgba(41, 92, 202, 0.62)
  );
  color: white;
  transform: translateY(-0.25em);
  box-shadow: 0 0.5em 0.5em -0.4em #9a7f92;
}

#description{
background-color:rgb(250, 249, 249);
border-radius: 7px;
padding: 27px;

}
.available{
  color: green;
}
