<div *ngIf="!auth"></div>

<div *ngIf="auth">
  <div
    class="d-flex flex-column justify-content-center align-items-center"
    id="order-heading"
  >
    <div class="text-uppercase">
      <p>Order details</p>
    </div>
    <div class="h4">
      {{ date }}
    </div>
    <div class="pt-1">
      <p>Order #{{ id }}<b class="text-dark"></b></p>
    </div>
  </div>
  <div class="wrapper bg-white">
    <div class="table-responsive">
      <table class="table table-borderless">
        <thead>
          <tr class="text-uppercase text-muted">
            <th scope="col">Quantity</th>
            <th scope="col" style="padding-left: 5%">Product</th>
            <th scope="col" class="text-right">total</th>
          </tr>
        </thead>
      </table>
    </div>
    <div
      class="d-flex justify-content-between align-items-center list py-1"
      *ngFor="let product of products; let i = index"
    >
      <div>
        <b>{{ orderDetails[i].quantity }}x</b>
      </div>

      <div
        class="order-item mx-3 flex-basis-4"
        routerLink="/products/{{ product.product_id }}"
      >
        {{ product.product_name }}
      </div>
      <div class="d-flex justify-content-end">{{ product.price }}</div>
    </div>

    <div class="pt-2 border-bottom mb-3"></div>
    <div class="d-flex justify-content-start align-items-center pl-3 py-1">
      <div class="text-muted">Seller</div>

      <div class="ml-auto">
        <label routerLink="/seller-profile/{{ seller.seller_id }}">{{
          seller.shop_name
        }}</label>
      </div>
    </div>
    <div class="d-flex justify-content-start align-items-center pl-3 py-1">
      <div class="text-muted">Customer Email</div>

      <div class="ml-auto">
        <label routerLink="/seller-profile/{{ seller.seller_id }}">{{
          customer.customer_email
        }}</label>
      </div>
    </div>
    <div
      class="d-flex justify-content-start align-items-center pl-3 py-3 border-bottom"
    >
      <div class="text-muted">Customer</div>

      <div class="ml-auto text-muted">
        <p>{{ customer.cus_first_name }}</p>
        <span> {{ customer.cus_last_name }}</span>
      </div>
    </div>

    <div
      class="d-flex justify-content-start align-items-center pl-3 py-3 mb-4 border-bottom"
    >
      <div class="text-muted">Total</div>
      <div class="ml-auto h5">{{ total | currency: "SAR" }}</div>
    </div>
    <div *ngIf="status == 'New'">
      <div class="pl-3 py-3 mb-4 border-bottom m-auto">
        <div class="text-center">
          Enter pickup authentication code to update order status to complete
        </div>

        <form [formGroup]="form">
          <div class="text-center my-3">
            <input
              type="text"
              maxlength="6"
              required
              formControlName="order_auth"
              placeholder="Auth code"
            />
          </div>
        </form>
        <div class="text-center">
          <div class="btn btn-primary text-uppercase" (click)="updateOrder()">
            Update
          </div>
        </div>
        <div *ngIf="errorMsg" class="bg-danger text-center text-white mt-3">
          {{ errorMsg }}
        </div>
      </div>
    </div>
    <div *ngIf="status == 'Complete'" class="text-center bg-success text-white">
      Order status is complete
    </div>
  </div>
</div>
