
body{
    margin-top:20px;
    background:#eee;
    }

    .btn {
        margin-bottom: 5px;
    }

    .grid {
        position: relative;
        width: 100%;
        background: #fff;
        color: #666666;
        border-radius: 2px;
        margin-bottom: 25px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    }

    .grid .grid-body {
        padding: 15px 20px 15px 20px;
        font-size: 0.9em;
        line-height: 1.9em;
    }



    .card-img-top{
        width: 200px;
        height: 200px;
    }
    .button{
      
  background-color: orange;
  border-color: blue;
  color: white;
  border-radius: 1.2em;
 
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

.button:hover,
.button:focus {
  /* background-blend-mode: darken;*/
  background: linear-gradient(
    to right,
    rgba(231, 73, 11, 0.62),
    rgba(41, 92, 202, 0.62)
  );
  color: white;
  transform: translateY(-0.25em);
  box-shadow: 0 0.5em 0.5em -0.4em #9a7f92;
  
}
.panda-button {
  background-color: orange;
  border-color: blue;
  color: white;
  border-radius: 1.2em;
 
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}
.panda-button:hover,.button:focus {
  background: linear-gradient(
    to right,
    rgba(231, 73, 11, 0.62),
    rgba(41, 92, 202, 0.62)
  );
  color: white;
  transform: translateY(-0.25em);
  box-shadow: 0 0.5em 0.5em -0.4em #9a7f92;
}
.card-title{
  width:25% 
}



    .search #price1,
    .search #price2 {
        display: inline;
        font-weight: 600;
    }
