<html lang="en">
  <head>
    <link rel="stylesheet" href="cart.component.css" />
  </head>
  <body>
    <div *ngIf="items.length < 1">
      <div class="d-flex justify-content-center">
        <div>
          <img src="../../assets/empty-cart.png" width="350px" alt="" />
          <h4>Your shopping cart is empty</h4>
        </div>
      </div>
    </div>
    <div
      class="container mt-5 p-3 rounded cart"
      style="margin-top: 1.5em"
      *ngIf="items.length >= 1"
    >
      <div class="row no-gutters">
        <div class="col-md-12">
          <div class="product-details mr-2">
            <h6 class="mb-0">Shopping cart</h6>
            <div class="d-flex justify-content-between">
              <span>You have {{ items.length }} items in your cart</span>
            </div>
            <hr />

            <div
              class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded flex-wrap"
              *ngFor="let item of items; index as i"
            >
              <div class="d-flex flex-row">
                <span class="remove-item" (click)="removeProduct(i)"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-trash3"
                    viewBox="0 0 16 16"
                    fill="red"
                  >
                    <path
                      d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"
                    /></svg
                ></span>

                <div
                  routerLink="/products/{{ item.product_id }}"
                  class="ml-2"
                  style="cursor: pointer"
                >
                  <span class="font-weight-bold d-block">{{
                    item.product_name
                  }}</span
                  ><span class="spec">{{ item.product_description }}</span>
                </div>
              </div>
              <div class="d-flex flex-row align-items-center">
                <input
                  type="number"
                  min="1"
                  [value]="item.qty"
                  (change)="validateQuantity($event, i)"
                />
                <!-- <span class="d-block">{{ item.qty }}</span> -->
                <span class="d-block ml-5 font-weight-bold">{{
                  item.price
                }}</span
                ><i class="fa fa-trash-o ml-3 text-black-50"></i>
              </div>
            </div>
            <hr />
            <h3>
              Total: <span>{{ total | currency: "SAR" }}</span>
            </h3>
          </div>
        </div>
      </div>
      <div *ngIf="errorMsg" class="bg-danger text-white text-center">
        {{ errorMsg }}
      </div>
      <div *ngIf="bought" class="bg-success text-white text-center">
        Order placed successfully, Go to orders to see your new order
      </div>
      <div class="d-flex justify-content-center my-3">
        <button
          type="button"
          class="btn btn-primary btn-lg ms-2 mr-2"
          (click)="checkout()"
        >
          Checkout
        </button>
        <button
          type="button"
          class="btn btn-danger btn-lg ms-2 ml-2"
          (click)="clearAllProducts()"
        >
          Clear cart
        </button>
      </div>
    </div>
  </body>
</html>
