<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="my-account.component.css" />
  </head>
  <body>
    <div class="container mt-4">
      <div class="row">
        <div class="col-lg-3 my-lg-0 my-md-1">
          <div id="sidebar" class="bg-purple">
            <div class="h4 text-white">Dashboard</div>
            <ul>
              <li>
                <a
                  routerLink="../home"
                  class="text-decoration-none d-flex align-items-start"
                >
                  <div class="fas fa-box pt-2 me-3"></div>
                  <div class="d-flex flex-column">
                    <div class="link">Statics</div>
                    <div class="link-desc">View statics</div>
                  </div>
                </a>
              </li>
              <li class="active">
                <a
                  routerLink="../my-account"
                  class="text-decoration-none d-flex align-items-start"
                >
                  <div class="fas fa-box-open pt-2 me-3"></div>
                  <div class="d-flex flex-column">
                    <div class="link">My account</div>
                    <div class="link-desc">View my account</div>
                  </div>
                </a>
              </li>

              <li>
                <a
                  routerLink="../orders"
                  class="text-decoration-none d-flex align-items-start"
                >
                  <div class="far fa-user pt-2 me-3"></div>
                  <div class="d-flex flex-column">
                    <div class="link">Orders</div>
                    <div class="link-desc">View & Manage Orders</div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  routerLink="../products"
                  class="text-decoration-none d-flex align-items-start"
                >
                  <div class="fas fa-headset pt-2 me-3"></div>
                  <div class="d-flex flex-column">
                    <div class="link">Products</div>
                    <div class="link-desc">View & Manage Orders</div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-9 my-lg-0 my-1">
          <div id="main-content" class="bg-white border">
            <div class="col-md-12 text-center">
              <h4>My account</h4>
            </div>
            <div class="card-body">
              <form>
                <!-- Form Row-->
                <div class="row gx-3 mb-3">
                  <!-- Form Group (first name)-->
                  <div class="col-md-6">
                    <label class="small mb-1" for="inputFirstName">Email</label>
                    <input
                      class="form-control"
                      id="inputFirstName"
                      type="email"
                      placeholder="Enter your email"
                      value="{{ seller.seller_email }}"
                    />
                  </div>
                  <!-- Form Group (last name)-->
                  <div class="col-md-6">
                    <label class="small mb-1" for="inputLastName"
                      >Shop name</label
                    >
                    <input
                      class="form-control"
                      id="inputLastName"
                      type="text"
                      placeholder="Enter your shop name"
                      value="{{ seller.shop_name }}"
                    />
                  </div>
                </div>

                <!-- Form Row-->
                <div class="row gx-3 mb-3">
                  <!-- Form Group (phone number)-->
                  <div class="col-md-12">
                    <label class="small mb-1" for="inputPhone"
                      >Change Password</label
                    >
                    <input
                      class="form-control"
                      id="passwordInput"
                      type="password"
                      placeholder="Enter your password"
                      value=""
                    />
                  </div>
                </div>
                <!-- Save changes button-->
                <div class="d-flex justify-content-center mx-4 mb-3 mb-md-4">
                  <button
                    id="update"
                    type="button"
                    class="btn btn-primary btn-md"
                  >
                    Update
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
