<app-nav-bar></app-nav-bar>
<style>
  df-messenger {
    --df-messenger-bot-message: #ffa500;
    --df-messenger-button-titlebar-color: #6641d4;
    --df-messenger-chat-background-color: #fafafa;
    --df-messenger-font-color: white;
    --df-messenger-send-icon: #ffa500;
    --df-messenger-user-message: #6985c0;
  }
  
</style>
<df-messenger
  intent="WELCOME"
  chat-title="CCB Recommendation"
  agent-id="7dde7f2c-b4ef-4260-842a-213230561ce6"
  language-code="en"
  df-messenger-button-titlebar-color="#6641D4"
  df-messenger-chat-background-color="#6641D4"
  chat-icon="https://i.postimg.cc/4x4JBxzT/robot-2.png"
></df-messenger>
<router-outlet></router-outlet>
<app-footer></app-footer>
