<body>
  <header class="section-header">
    <nav class="navbar navbar-dark navbar-expand p-0 bg-dark">
      <div class="container-fluid">
        <!-- list-inline //  -->
      </div>
      <!-- navbar-collapse .// -->
      <!-- container //  -->
    </nav>
    <!-- header-top-light.// -->

    <section class="header-main border-bottom bg-white">
      <div class="container-fluid">
        <div class="row p-2 pt-3 pb-3 d-flex align-items-center">
          <div class="col-md-2">
            <a routerLink="/">
              <img
                class="d-none d-md-flex"
                src="../../assets/logo.svg"
                width="100%"
              />
            </a>
          </div>
          <div class="col-md-3">
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
              <option selected>All cities</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="col-md-5">
            <div class="d-flex form-inputs">
              <input
                class="form-control"
                type="text"
                placeholder="Search any product..."
              />
              <i class="bx bx-search"></i>
            </div>
          </div>

          <div class="col-md-2">
            <div
              class="d-flex d-none d-md-flex flex-row align-items-center profile-cart"
            >
              <div *ngIf="!isLoggedIn" class="d-flex flex-column ms-2 profile">
                <a routerLink="/login">Login</a>
              </div>
              <div *ngIf="isLoggedIn" class="d-flex flex-column ms-2 profile">
                <div class="myAccount">
                  <div class="dropbtn" *ngIf="!isSeller" routerLink="profile">
                    Profile
                  </div>
                  <div
                    class="dropbtn"
                    *ngIf="isSeller"
                    routerLink="seller-profile/{{ decode.seller_id }}"
                  >
                    Profile
                  </div>
                  <div class="dropdown-content">
                    <a *ngIf="!isSeller" routerLink="orders">Orders</a>
                    <a (click)="logout()">Logout</a>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-column ms-2">
                <span class="cart"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-bag"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"
                    /></svg
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid category-container">
        <a class="navbar-brand d-md-none d-md-flex" href="#">Categories</a>

        <button
          class="navbar-toggler"
          type="button"
          aria-expanded="false"
          aria-label="Toggle navigation"
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="navbarNavDropdown"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse"
          id="navbarNavDropdown"
          [ngbCollapse]="isCollapsed"
        >
          <ul class="navbar-nav">
            <li class="nav-item" *ngFor="let cat of categoryList">
              <a
                class="nav-link"
                routerLink="products/category/{{ cat.category_id }}"
                >{{ cat.category_name }}</a
              >
            </li>

            <li class="nav-item checker">
              <a class="nav-link" routerLink="compatibility"
                >Compatibility Checker</a
              >
            </li>
            <li class="nav-item product" *ngIf="isSeller">
              <a class="nav-link" routerLink="add-product">Add product</a>
            </li>
            <li class="nav-item product" *ngIf="isSeller">
              <a class="nav-link" routerLink="admin-dashboard/home"
                >Dashboard</a
              >
            </li>
            <!-- <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Mobiles
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Smart Phones</a></li>
              <li><a class="dropdown-item" href="#">Feature Phones</a></li>
              <li><a class="dropdown-item" href="#">Mobile Covers</a></li>
            </ul>
          </li> -->
          </ul>
        </div>
      </div>
    </nav>
  </header>
</body>
