body {
  background-color: purple;
}
.form-inputs {
  position: relative;
}
.form-inputs .form-control {
  height: 45px;
}

.form-inputs .form-control:focus {
  box-shadow: none;
  border: 1px solid #000;
}

.form-inputs i {
  position: absolute;
  right: 10px;
  top: 15px;
}

#navbarNavDropdown {
  text-align: start;
}

.product {
  background-color: #6641d4;
  margin: 0 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  transition: all 0.5s;
}
.product a {
  color: white;
}
.product a:hover,
.product a:focus {
  color: white;
}
.product:hover {
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}

.profile {
  padding: 0.5em 0.5em;
}

.profile a {
  text-decoration: none;
  color: #000;
}

.profile:hover {
  cursor: pointer;
  border-radius: 2em;
  background-color: #eee;
}
.cart {
  margin: 0 1.5em;
  cursor: pointer;
}

.divider {
  border-right: 2px solid #f7743c;
  opacity: 0.5;
}

.checker {
  background-color: orange;
  border-radius: 1.5em;

  transition: 0.3s all;
}
.checker a {
  color: white;
}

.dropbtn {
  color: black;
  cursor: pointer;
  border: none;
}

.myAccount {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.myAccount:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.myAccount:hover .dropbtn {
  background-color: #eee;
  border-radius: 0.3em;
}

@media (max-width: 767px) {
  .profile-cart {
    margin: 1.5em;
    justify-content: center;
  }
  #navbarNavDropdown {
    text-align: center;
  }
  .product {
    margin-top: 1em;
  }
}

@media (max-width: 990px) {
  #navbarNavDropdown {
    text-align: center;
  }
  .product {
    margin-top: 1em;
  }
}

@media (min-width: 992px) and (max-width: 1007px) {
  .category-container {
    font-size: 15px;
  }

  #navbarNavDropdown {
    text-align: center;
  }
}
