body {
  background-color: purple;
}
.form-inputs {
  position: relative;
}
.form-inputs .form-control {
  height: 45px;
}

.form-inputs .form-control:focus {
  box-shadow: none;
  border: 1px solid #000;
}

.form-inputs i {
  position: absolute;
  right: 10px;
  top: 15px;
}

#navbarNavDropdown {
  text-align: start;
}

.profile {
  cursor: pointer;
}
.cart {
  margin: 0 1.5em;
  cursor: pointer;
}

.divider {
  border-right: 2px solid #f7743c;
  opacity: 0.5;
}

.hamburger {
  display: none;
}

.checker:hover {
  background-color: #f7743c;
  border-radius: 1.5em;
  color: white;
  transition: 0.3s all;
}

@media (max-width: 767px) {
  .profile-cart {
    margin: 1.5em;
    justify-content: center;
  }
}

@media (min-width: 992px) and (max-width: 1007px) {
  .category-container {
    font-size: 15px;
  }
}
