<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="nav-bar.component.css" />
    <!-- Google fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Changa&family=Gulzar&family=Raleway:wght@200&family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav
      id="mainNav"
      class="navbar navbar-expand-md bg-white navbar-dark fixed-top"
    >
      <div class="row">
        <div class="col-md-12"></div>
        <a href="#" class="navbar-brand ml-3 mb-1 brand"
          ><img src="../../assets/logo.svg" style="height: 100%; width: 100%"
        /></a>
        <button
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#nav"
          type="button"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="row d-flex justify-content-center ml-5 mt-2" id="nav-fields">
        <div class="col-md-12">
          <div class="form-row">
            <div class="col-md-3">
              <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>All cities</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="col-md-6">
              <input
                class="form-control"
                type="Search"
                placeholder="What would you like to search?"
              />
            </div>
            <div
              class="col-md-3 d-flex justify-content-around align-items-center"
            >
              <div class="myAccount">
                <h5 class="dropbtn">My Account</h5>
                <div class="dropdown-content">
                  <a href="#">Profile</a>
                  <a href="#">Orders</a>
                  <a href="#">Logout</a>
                </div>
              </div>
              <h5>Cart</h5>
            </div>
          </div>
        </div>
        <div class="collapse navbar-collapse text-center" id="nav">
          <div class="col-md-12" id="links">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Graphic Cards</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">CPU/Processors</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Motherboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Memory</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Storage</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pre-built Computers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Laptops</a>
              </li>
              <div class="divider"></div>
              <li class="nav-item comp">
                <a class="nav-link" href="#">Component Compatibility checker</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
